{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% load purchase_info_tags %}
{% load currency_filters %}
{% load basket_tags %}

{% block product %}
    <article class="book {% for category in product.categories.all %} {{category.slug}} {% endfor %}">
    <div class="row">
        <div class="product-image">
            {% block product_image %}
                <div class="image_container">
                    {% with image=product.primary_image %}
                        {% thumbnail image.original "320" upscale=False as thumb %}
                        <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="img-responsive"></a>
                        {% endthumbnail %}
                    {% endwith %}
                    
                    {% include "books/catalogue/categorie_flash.html" %}
                </div>
            {% endblock %}
        </div>
        <div class="product-description">
            {% block product_review %}
                {% iffeature "reviews" %}
                    <p class="star-rating {{ product.rating|as_stars }}">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                    </p>
                {% endiffeature %}
            {% endblock %}

            <h3 class="book_authors">
            {% for author in product.authors.all %}
                <a href="/books/authors/{{author.pk}}">{{author.name}}</a>
            {% endfor %}
            </h3>
            
            {% block product_title %}
                <h3><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}" class="book_title">{{ product.get_title|truncatewords:10|upper }}</a></h3>
            {% endblock %}

                
            <div class="product_description">{{ product.description|safe|truncatewords:30 }}</div>
            
            
            {% block product_price %}
                <div class="variazioni_prodotto">
                    {% include "books/catalogue/tasti_variazioni.html" %}
                </div>
            {% endblock %}
            
            <!--<div class="dethales">
                <a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}" class="">{% trans 'Details' %}</a>
            </div>
            -->
        </div>
    </div>
    </article>
{% endblock %} 
