{% extends "oscar/catalogue/detail.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}


{% block product_gallery %}
    <div class="col-sm-5">
        {% include "catalogue/partials/gallery.html" %}
    </div>
{% endblock %}

{% block product_main %}
<div class="col-sm-7 product_main">
    {% comment %}
    This is a but clunky here.  Better to have some kind of JS-driven dashboard menu that 
    pops out when clicked.  A bit like the Django-Debug-Toolbar button
    {% endcomment %}
    {% if user.is_authenticated and user.is_staff%}
        <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
    {% endif %}
    
    
    {% include "books/catalogue/categorie_inline.html" %}
    
    
    
    {% with authors as product.authors.all %}
        {% if authors|length > 0 %}
            <h2 class="book_authors">
            {% for author in authors %}
                <a href="{% url 'author_detail' author.slug %}">{{author.name}}</a>
            {% endfor %}
            </h2>
        {% endif %}
    {% endwith %}

    <h1>{{ product.get_title|upper }}</h1>
    
    {% with translation_authors as product.translation_authors.all %}
        {% if translation_authors|length > 0 %}
            <h4 class="book_traslation_authors">
            {% trans "Translation authors" %}:&nbsp;
            {% for author in translation_authors %}
                <a href="{% url 'author_detail' author.slug %}">{{author.name}}</a>
            {% endfor %}
            </h4>
        {% endif %}
    {% endwith %}
    

    {% if product.serie %}
        <h4 class="book_serie">
            {% trans "Serie" %}:
            {{product.serie.name|upper}}
        </h4>
    {% endif %}

    
    <div class="variazioni_prodotto">
        {% include "books/catalogue/tasti_variazioni.html" %}
    </div> 
    {% include "catalogue/partials/add_to_wishlist.html" %}
    
    {% block product_description %}
        <div class="product_description">
            {% if product.description %}
            {{ product.description|safe }}
            {% endif %}
        </div>
    {% endblock %}  
    
</div><!-- /col-sm-6 -->
{% endblock %}


