{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block title %}
    {{ title }} | {% trans "Authors" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:author-list' %}">{% trans "Authors" %}</a>
        </li>
        {% if author %}
            <li class="active">'{{ author.name }}'</li>
        {% else %}
            <li class="active">{{ title }}</li>
        {% endif %}
    </ul>
{% endblock %}

{% block headertext %}
    {% if author %}{{ author.name }}{% else %}{% trans "Create new author" %}{% endif %}
{% endblock %}

{% block dashboard_content %}
    {% with ret_url='dashboard:author-list' %}
        {% include 'books/dashboard/partials/form.html' %}
    {% endwith %}
{% endblock dashboard_content %}
