{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block title %}
    {% blocktrans with name=bookformat.name %}Delete book format '{{ name }}'?{% endblocktrans %} | {% trans "Book formats" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:bookformat-list' %}">{% trans "Book formats" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:bookformat-update' pk=bookformat.pk %}">'{{ bookformat.name }}'</a>
        </li>
        <li class="active">{% trans "Delete?" %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {{ bookformat.name }}
{% endblock %}

{% block dashboard_content %}
    <form action="." method="post" class="well">
        <p>{% trans "Are you sure you want to delete this bookformat?" %}</p>
        {% csrf_token %}
        <div class="form-actions">
            <button class="btn btn-danger" type="submit" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button> {% trans "or" %}
            <a href="{% url 'dashboard:bookformat-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock dashboard_content %}
