{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block title %}
    {{ title }} | {% trans "Book formats" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:bookformat-list' %}">{% trans "Book formats" %}</a>
        </li>
        {% if bookformat %}
            <li class="active">'{{ bookformat.name }}'</li>
        {% else %}
            <li class="active">{{ title }}</li>
        {% endif %}
    </ul>
{% endblock %}

{% block headertext %}
    {% if bookformat %}{{ bookformat.name }}{% else %}{% trans "Create new book format" %}{% endif %}
{% endblock %}

{% block dashboard_content %}
    {% with ret_url='dashboard:bookformat-list' %}
        {% include 'books/dashboard/partials/form.html' %}
    {% endwith %}
{% endblock dashboard_content %}
