{% extends "oscar/catalogue/detail.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}


{% block product_gallery %}
    <div class="col-sm-5">
        {% include "catalogue/partials/gallery.html" %}
    </div>
{% endblock %}

{% block product_main %}
<div class="col-sm-7 product_main">
    {% comment %}
    This is a but clunky here.  Better to have some kind of JS-driven dashboard menu that 
    pops out when clicked.  A bit like the Django-Debug-Toolbar button
    {% endcomment %}
    {% if user.is_authenticated and user.is_staff%}
        <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
    {% endif %}
    
    
    {% include "books/catalogue/categorie_inline.html" %}
    
    
    <h2 class="book_authors">
    {% for author in product.authors.all %}
        <a href="{{ author.get_absolute_url }}">{{author.name}}</a>
    {% endfor %}
    </h2>
    <h1>{{ product.get_title|upper }}</h1>
    
    {% if product.translation_authors.all|length > 0 %}
        <h4 class="book_traslation_authors">
        {% trans "Translation authors" %}:&nbsp;
        {% for author in product.translation_authors.all %}
            <a href="{{ author.get_absolute_url }}">{{author.name}}</a>
        {% endfor %}
        </h4>
    {% endif %}
    
    {% if product.serie %}
        <h4 class="book_serie">
            {% trans "Serie" %}:
            {{product.serie.name|upper}}
        </h4>
    {% endif %}

    
    <div class="variazioni_prodotto">
        {% include "books/catalogue/tasti_variazioni.html" %}
        
        {% if user.is_authenticated %}
            {% include "catalogue/partials/add_to_wishlist.html" %}
        {% endif %}
    </div> 
    
    {% block product_description %}
        <div class="product_description">
            {% if product.description %}
            {{ product.description|safe }}
            {% endif %}
        </div>
    {% endblock %}
    
    {% if product.is_new %}
        <p>Is new!</p>
    {% endif %}
    
    {% if product.is_on_sale %}
        <p>Has offers!</p>
    {% endif %}
    
    
</div><!-- /col-sm-6 -->
{% endblock %}



