{% extends "layout.html" %}

{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}


{% block title %}
    {{ author.name }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ author.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    <li>
        <a href="/books/authors" >{% trans "Authors" %}</a>
    </li>
    <li class="active">{{ author.name }}</li>

</ul>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

<article class="author"><!-- Start of product page -->

    <h1>{{author.name}}</h1>
    
    <div class="author_description">
    {{author.description|safe}}
    </div>
    
    {% with author.books.all as author_books %}
    {% if author_books|length > 0%}
    <div class="row-fluid author_books">
        <h3> {% trans "Books" %}: </h3>
        {% for product in author_books %}
            {% if product.is_parent %}
                {% include "books/rappresentazione_miniatura.html" %}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</article><!-- End of author page -->
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
