{% extends "layout.html" %}

{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}


{% block title %}
    {{ bookstore.name }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ bookstore.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    <li>
        <a href="/books/bookstores" >{% trans "Bookstores" %}</a>
    </li>
    <li class="active">{{ bookstore.name }}</li>

</ul>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

<article class="bookstore_page"><!-- Start of product page -->

    <h1>{{bookstore.name}}</h1>
    
    <div class="bookstore-description">
    {{bookstore.description|safe}}
    </div>
    
    {% with in bookstore.books.all as bookstore_books %}
    {% if bookstore_books|length > 0%}
    <h3> {% trans "Books" %}: </h3>
    <div class="row-fluid bookstore-books">
        {% for product in bookstore_books %}
            {% include "books/rappresentazione_miniatura.html" %}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</article><!-- End of bookstore page -->
{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
