{% extends "layout.html" %}

{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}


{% block title %}
    {% trans "Series" %}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{{ homepage_url }}">{% trans "Home" %}</a>
    </li>
    <li class="active">
        {% trans "Series" %}
    </li>

</ul>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

{% for serie in serie_list %}

<article class="serie"><!-- Start of product page -->

    <a href="{{ serie.get_absolute_url }}"> <h2>{{serie.name}}</h2> </a>
    
    <div class="serie_description">
    {{serie.description|safe}}
    </div>
    
</article><!-- End of serie page -->
{% endfor %}


{% endblock content %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
