{% extends "oscar/customer/order/order_detail.html" %}
{% load currency_filters %}
{% load display_tags %}
{% load i18n %}
{% load reviews_tags %}


{% block order_actions %}
    <form id="order_form_{{ order.id }}" action="{% url 'customer:order' order_number=order.number %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order.id }}" />
        <input type="hidden" name="action" value="reorder" />
        <button type="submit" class="btn btn-success" data-loading-text="{% trans 'Re-ordering...' %}">{% trans 'Re-order all items' %}</button>
    </form>
    
    <form id="order_form_{{ order.id }}" action="{% url 'customer:order' order_number=order.number %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order.id }}" />
        <input type="hidden" name="action" value="resend" />
        <button type="submit" class="btn btn-success" data-loading-text="{% trans 'Re-sending...' %}">{% trans 'Re-send all items to email' %}</button>
    </form>
{% endblock order_actions %}

